<p><%= @product.title %></p>
<p><%= @product.brand %></p>
<p><%= @product.price %></p> 

<%= link_to 'Listing', products_path %>
<%= link_to "Edit", edit_product_path(@product) %>
<%= link_to "Delete", product_path(@product), method: :delete %>